@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227, 13%, 14%;
    --foreground: 213 31% 91%;
    
    --muted: 224, 16%, 27%;
    --muted-foreground: 215.4 16.3% 56.9%;
    
    --accent: 227, 13%, 27%;
    --accent-foreground: 210 40% 98%;
    
    --popover: 231, 14%, 20%;
    --popover-foreground: 213 31% 91%;
    
    --card: 224, 16%, 19%;
    --card-foreground: 213 31% 91%;
    
    --primary: 176, 77%, 41%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 230, 12%, 29%;
    --secondary-foreground: 210 40% 98%;
    
    --border: 217, 19%, 27%;
    --input: 227, 13%, 14%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply overscroll-none bg-background text-foreground overflow-x-hidden;
    font-family: var(--font-geist-sans), sans-serif;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary;
}
